@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background-image: url("/assets/WhiteBannerBlob2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.center-div {
  padding-top: 10%;
}

.btn.btn-succes {
  padding: 4rem 2rem;
}
form {
  padding: 0 3em;
}

#login .title > span {
  font-size: 0.8em;
}
